{% extends "base.html" %}
{% block title %}類別表單驗證{% endblock %}
{% block content %}
<br>
<br>
<br>
    <h2>student 資料表刪除</h2>
    <form action="." method="POST" name="stdform">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <th>請輸入學號:</th><td><input type="text" name="stdID" ></td>
            </div>
            <div class="row"> 
                <input type="submit" name="button" id="button" value="刪除">
            </div>
        </div>
        <span style="color:red">{{mess}}</span>
    </form>
{% endblock %}